body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
    margin: 0;
    color: white;
}
canvas {
    background-color: black;
}

#gugus-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 550px;
}

.image {
    transition: transform 0.2s, opacity 0.2s;
    max-width: 200px;
}

#zero {
    font-family: 'Helvetica', sans-serif;
    font-size: 150px;
    color: white;
    background-color: black;
    display: none;
    transition: opacity 0.5s, transform 0.5s;
}

@keyframes vibrate {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-10px);
    }

    50% {
        transform: translateX(10px);
    }

    75% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0);
    }
}